<div class="search-method-selection">
    <p>検索方法：</p>
    <label>
        <%= radio_button_tag :region_search_method, :and, params[:region_search_method] == 'and' || params[:region_search_method].blank? %>
        AND
    </label>
    <label>
        <%= radio_button_tag :region_search_method, :or, params[:region_search_method] == 'or' %>
        OR
    </label>
</div>
<div class="filter-section">
  <h3>地域</h3>
  <div class="tag-checkboxes">
    <% @regions.each do |region| %>
      <div class="checkbox-item">
        <%= check_box_tag 'region_ids[]', region.id, params[:region_ids]&.include?(region.id.to_s), id: "region_#{region.id}" %>
        <%= label_tag "region_#{region.id}", region.name %>
      </div>
    <% end %>
  </div>
</div>