<div class="search-method-selection mb-20">
	<p>検索方法：</p>
	<label class="d-inline mr-10">
		<%= radio_button_tag :region_search_method, :and, params[:region_search_method] == 'and' || params[:region_search_method].blank? %>
		AND
	</label>
	<label class="d-inline">
		<%= radio_button_tag :region_search_method, :or, params[:region_search_method] == 'or' %>
		OR
	</label>
</div>

<div class="filter-section">
  	<h3>地域</h3>
	<div class="checkbox-group">
		<% @regions.each do |region| %>
		<label class="custom-checkbox-label">
			<%= check_box_tag 'region_ids[]', region.id, params[:region_ids]&.include?(region.id.to_s), id: "region_#{region.id}" %>
            <span class="checkmark"></span>
			<span class="label-text"><%= region.name %></span>
		</label>
		<% end %>
  	</div>
</div>
