<div class="search-method-selection">
	<p>検索方法：</p>
	<label>
		<%= radio_button_tag :tag_search_method, :and, params[:tag_search_method] == 'and' || params[:tag_search_method].blank? %>
		AND
	</label>
	<label>
		<%= radio_button_tag :tag_search_method, :or, params[:tag_search_method] == 'or' %>
		OR
	</label>
</div>

<div class="tag-checkboxes">
  <% @tags.each do |tag| %>
	<div class="checkbox-item">  
	  	<%= check_box_tag 'tag_ids[]', tag.id, params[:tag_ids]&.include?(tag.id.to_s), id: "tag_#{tag.id}" %>
	 	<%= label_tag "tag_#{tag.id}", tag.name %>
	</div>
  <% end %>
</div>