body {
  font-family: var(--font-family);
  background-color: var(--primary-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  border-bottom: 3px solid var(--accent-color);
  display: inline-block;
  padding-bottom: 5px;
}

a {
  color: var(--secondary-accent);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent-color);
}
