<div class="search-method-selection mb-20">
	<p>検索方法：</p>
	<label class="d-inline mr-10">
		<%= radio_button_tag :tag_search_method, :and, params[:tag_search_method] == 'and' || params[:tag_search_method].blank? %>
		AND
	</label>
	<label class="d-inline">
		<%= radio_button_tag :tag_search_method, :or, params[:tag_search_method] == 'or' %>
		OR
	</label>
</div>

<div class="checkbox-group">
	<% @tags.each do |tag| %>
		<label class="custom-checkbox-label">
			<%= check_box_tag 'tag_ids[]', tag.id, params[:tag_ids]&.include?(tag.id.to_s), id: "tag_#{tag.id}" %>
			<span class="checkmark"></span>
			<span class="label-text"><%= tag.name %></span>
		</label>
	<% end %>
</div>
