<h1>アカウント編集</h1>
<%= form_for @member, url: :account, method: :patch do |form| %>
  <%= render "shared/login_form", form: form %>
  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>