<h1>会員登録</h1>
<%= form_for @member, url: :account do |form| %>
  	<div class="field">
		<%= render "shared/member_form", form: form %>
		<div class="actions">
			<%= form.submit "登録する" %>
		</div>
  	</div>
<% end %>